snippet pre
	- pregunta: $1
	  respuesta: $2
	$0
snippet b
	<b>$1</b>$0
snippet i
	<i>$1</i>$0
snippet red
	<color red>$1</color>$0
snippet sup
	<sup>$1</sup>$0
snippet sub
	<sub>$1</sub>$0
snippet x
    &lt;${1}&gt;${0}
